<div class="fileters-wrapper" id="{{ elements['#page'] }}">
  <div class="form-group">
    <label for="region">Region</label>
    <select name="region" id="region" class="form-control">
      <option value="">Select</option>
      {% for item in elements['#data_obj'] %}
        <option value="{{ item}}">{{ item }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="state">State</label>
    <select name="state" id="state" class="form-control">
      <option value="">Select </option>
    </select>
  </div>
  <div class="form-group">
    <label for="city">City/Town</label>
    <select name="city" id="city" class="form-control">
      <option value="">Select</option>
    </select>
  </div>
</div>
