<section class="bg-light tabs-container tab-style-2">
  <div class="content-wrapper px-0">
    <div class="container container-narrow">
      <div class="heading-wrapper">
        {{ page.highlighted }}
        <h1 class="page-heading">{{ node.title.value }}</h1>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="info-box-list-wrapper m-0">
            {{ drupal_block('snippets') }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
