
<section class="page-banner">
  {{ drupal_block('products_banner', wrapper=false) }}
</section>

<section class="product-listing-section">
  <div class="container container-narrow">
    {{ drupal_block('products_list') }}
  </div>
</section>
