<section class="page-not-found-wrap">
  <div class="row">
    <div class="col-12">
      <h1 class="heading heading-theme heading-heavy heading-1 text-center">404 Page Not Found</h1>
      <p class="heading heading-theme heading-6 text-center">
        Sorry! We couldn’t find this page. <br> It might be an old link or the page was moved.
      </p>
    </div>
  </div>
</section>
