<section class="search-page-wrapper bg-light">
  <div class="container container-narrow">
    <div class="row">
      <div class="col-12 mt-5">
        <div class="heading-wrapper">
          <ul class="breadcrumb justify-content-end">
            <li>
              <div class="title">
                  <a href="#">Home</a>
              </div>
            </li>
            <li><span class="current">Search</span></li>
          </ul>

            <h1 class="page-heading">Search Results</h1>
        </div>
      </div>
      <div class="col-12">
        <div class="search-results-wrapper">
            {{ page.content }}
        </div>
      </div>
    </div>
  </div>
</section>
